.header {
    width: 90%;
    height: 60px;
    padding: 0 5%;
    background-color: #6554e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    color: white;

    .icon {
        display: flex;
        position: relative;

        .basket {
            width: 35px;
        }
        .count {
            position: absolute;
            left: 23px;
            top: -5px;
            background-color: antiquewhite;
            padding: 1px 8px;
            border-radius: 50%;
            font-size: 18px;
            color: #000;
        }
    }
}